.table_view{
width: 100%;
margin-left: 15%;
    .heading_container{
        display: flex;
        flex-direction: column;
        .image_content{
            display: flex;
            justify-content: end;
            .tree_image{
                max-width: 40%;
                height: auto;
                .image_class{
                    width: 100%;
                    height: auto;
                }

            }

        }
    }
}
