<div class="table_view" fxFlex="100">
<div class="heading_container ">
    <div class="image_content">
        <div class="tree_image" >
            <img src="../../../assets/tree.png" alt="" class="image_class" width="400" height="270">
        </div>
    </div>
    <div class="heading_image">
        <img src="../../../assets/heading.png" alt="">
    </div>

</div>
<div class="details_table">
    <app-details-table ></app-details-table>
</div>

<div class="pagination">
<app-pagination></app-pagination>
</div>
</div>
