<div class="sidemenu">
    <div class="image_container" fxFlex="30">
        <div class="image_content">
            <div class="imagebox">
                <img src="../../../assets/clipart182747[31].png" alt="">

            </div>
        </div>

        <div class="image_text">
            <p class="img_text">
                v4.1.2
               </p>
        </div>

    </div>
    <div class="menuList" fxFlex="50">
        <div class="menu_content">
            <div class="menu_icon">
                <img src="../../../assets/icons8-ps-controller-64.png" alt="">
            </div>
            <div class="menu_heading">
                <h2>Toys Factory</h2>
            </div>
        </div>
        <div class="menu_content">
            <div class="menu_icon">
                <mat-icon>add_shopping_cart</mat-icon>

            </div>
            <div class="menu_heading">
                <h2>Delivery</h2>
            </div>
        </div>
        <div class="menu_content">
            <div class="menu_icon">
                <img src="../../../assets/Legal.png" alt="">
            </div>
            <div class="menu_heading">
                <h2>Toys Factory</h2>
            </div>
        </div>
        <div class="menu_content">
            <div class="menu_icon">

                <mat-icon>power_settings_new</mat-icon>
            </div>
            <div class="menu_heading">
                <h2>Toys Factory</h2>
            </div>
        </div>


    </div>

    <footer fxFlex="20"  fxLayout="column" fxLayoutAlign="end center" >
        <p>All Right Reserved</p>
    </footer>

</div>
